button {
  margin: 0px auto;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 20px;
  color: black;
  cursor: pointer;
  border-radius: 100px;
  padding: 15px 20px;
  border: 0px solid #000;
}

button.button-pulse {
  animation: borderPulse 1000ms infinite ease-out, colorShift 10000ms infinite ease-in;
}

@keyframes borderPulse {
  0% {
    box-shadow: inset 0px 0px 0px 1px #FDD835, 0px 0px 0px 0px #FBC02D;
  }

  100% {
    box-shadow: inset 0px 0px 0px 2px #FFA000, 0px 0px 0px 3px #FB8C00;
  }
}