body {
  background-color: #F4F6F6;
  overflow-y: hidden;
}

#addItem a {
  color: black;
  background: #F39C12;
  border: none;
}

#addedItems {
  display: inline-block;
}

button {
  margin: 0px auto;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 20px;
  color: black;
  cursor: pointer;
  border-radius: 100px;
  padding: 15px 20px;
  border: 0px solid #000;
}

button.button-pulse {
  animation: borderPulse 1000ms infinite ease-out, colorShift 10000ms infinite ease-in;
}

@keyframes borderPulse {
  0% {
    box-shadow: inset 0px 0px 0px 1px #FDD835, 0px 0px 0px 0px #FBC02D;
  }

  100% {
    box-shadow: inset 0px 0px 0px 2px #FFA000, 0px 0px 0px 3px #FB8C00;
  }
}

span {
  display: inline-block;
  color: white;
  border-radius: 7%;
  padding: 20px;
  /* width: 25vh;
  height: 4vh; */
  height: auto;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 10px;
  background: #AEB6BF;
  box-shadow: 10px 10px 22px 1px rgba(0, 0, 0, 0.5);
}

.fas {
  padding: 10px;
}

#Spanvalues {
  background-color: #F9E79F;
  height: 90vh;
  float: right !important;
  margin-top: -90vh;
}

#Uservalues {
  height: 90vh;
  background-color: #FAD7A0;
}

.myButton a {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 20px;
  color: black;
  cursor: pointer;
  border-radius: 100px;
  border: 0px solid #000;
  margin-top: 70vh;
  margin-left: 40vh;
  padding: 10px;
  text-decoration: none;
}

.cell {
  height: 80vh;
  float: left;
  display: inline-block;
}